@import "functions";

/****************************
 *           VARS           *
 ***************************/
$primary-color : #000000;
$secondary-color : #00CAFF;
$text-color : #FFFFFF;
$header-size : 0px;

body {
  margin : 0px;
  padding : 0px;
  font : 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: $primary-color;
  color : white;
}

.row{
  &.full-width{
    max-width: 100% !important;
    .row{
      margin: 0 auto;
      max-width: 62.5rem;
      background: inherit;
    }

  }
}


@media only screen {
  #grid-content .columns {
    padding-left: 0px;
    padding-right: 0px;
  }
}

#menu  {
  height: $header-size;
  background-color: $secondary-color;
  position: fixed;
  top : 0;
  z-index: 10;
  width: 100%;
}

.full-height {
  height: 100%!important;
}
.relative {
  position: relative!important;
}
.overflow-auto{
  overflow: auto!important;
}
.overflow-hidden{
  overflow: hidden!important;
}
.no-margin {
   margin : 0!important;
}
.no-padding  {
  padding : 0!important;
}
.text-centered {
  text-align: center!important;
}
.centered {
  margin: 0 auto!important;
}
.block {
  display: block!important;
}
.none {
  display: none!important;
}

.truncate {
  line-height: 100px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-grid {
  margin-top: $header-size;
}

.movie-cell{

  .movie-info {
    position: absolute;
    height: 100%;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 10px 20px;
    margin: 0 auto;
    width: 100%;
    text-shadow: 0px 1px 5px #000000;

    .movie-name {
      @include transition(all, 0.1s, ease-in);
      color: #fff;
      top: 50%;
      left : 0;

      @media #{$small-only} {
        font-size : 1.0em
      }

      @media #{$medium-only} {
        font-size : 1.0em
      }

      @media #{$large-only} {
        font-size : 1.2em
      }

      @media #{$xlarge-only} {
        font-size :1.9em
      }

      @media #{$xxlarge-only} {
        font-size :1.8em
      }
    }

    .movie-desc {

      @media #{$small-only}{
        font-size: 0.6rem;
      }

      @media #{$medium-only} {
        font-size: 0.7em;
      }

      @media #{$large-only} {
        font-size : 0.9em
      }

      @include transition(all, 0.2s, ease-in-out);
      webkit-animation-delay: 0.2s; /* Chrome, Safari, Opera */
      animation-delay: 0.2s;
      color: #fff;
      opacity: 0;
      padding: 20px 10px 0px 10px;
      font-size: 1.0rem;
      font-weight: lighter;
      text-align: center;
      line-height: 14px;
      bottom : 0;
      left : 0;
    }

    &:hover {
      background-color: rgba( 0,0,0, .6 )!important;
      cursor: pointer;
      .movie-name{

        @media #{$small-only} {
          display: none;
        }

        @media #{$medium-only} {
          top: 5%
        }

        top: 30%;
        color: #fff;

      }
      .movie-desc{

        @media #{$large-up} {
          top: 60%
        }

        color: #fff;
        opacity: 1;
        padding-top: 0;

      }
    }

    h3 {
      color : $text-color;
    }

    h3,p {
      position: absolute;
      width: 100%;
    }

    img {
      width: 100%;
    }

  }
}

.grid-loader{
  display: block;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
  img {
    position: relative;
    margin: 0 auto;
    text-align: center;
    max-height: 100px;
    margin-bottom: 20px;
  }
}

/* DETAIL */

.movie-detail {
  color : white;
  h2 {
    color :white;
  }
}
