@import "functions";

/****************************
 *           VARS           *
 ***************************/
$primary-color : #000000;
$secondary-color : #00CAFF;
$text-color : #FFFFFF;
$header-size : 0px;

body {
  margin : 0px;
  padding : 0px;
  font : 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: $primary-color;
  color : white;
}

.row{
  &.full-width{
    max-width: 100% !important;
    .row{
      margin: 0 auto;
      max-width: 62.5rem;
      background: inherit;
    }

  }
}


@media only screen {
  #grid-content .columns {
    padding-left: 0px;
    padding-right: 0px;
  }
}

#menu  {
  height: $header-size;
  background-color: $secondary-color;
  position: fixed;
  top : 0;
  z-index: 10;
  width: 100%;
}

#detail {
  position: absolute;
  top : 0px;
  left: 0px;
  display: block;
  overflow : auto;
}

.full-width {
  width: 100%!important;
}

.full-height {
  height: 100%!important;
}
.relative {
  position: relative!important;
}
.absolute {
  position: absolute!important;
}
.overflow-auto{
  overflow: auto!important;
}
.overflow-hidden{
  overflow: hidden!important;
}
.no-margin {
   margin : 0!important;
}
.no-padding  {
  padding : 0!important;
}
.text-centered {
  text-align: center!important;
}
.centered {
  margin: 0 auto!important;
}
.block {
  display: block!important;
}
.none {
  display: none!important;
}

.truncate {
  line-height: 100px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-grid {
  margin-top: $header-size;
}

.movie-cell{

  .movie-info {
    position: absolute;
    height: 100%;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 10px 20px;
    margin: 0 auto;
    width: 100%;
    text-shadow: 0px 1px 5px #000000;

    .movie-name {
      @include transition(all, 0.1s, ease-in);
      color: #fff;
      top: 50%;
      left : 0;

      @media #{$small-only} {
        font-size : 1.0em
      }

      @media #{$medium-only} {
        font-size : 1.0em
      }

      @media #{$large-only} {
        font-size : 1.2em
      }

      @media #{$xlarge-only} {
        font-size :1.9em
      }

      @media #{$xxlarge-only} {
        font-size :1.8em
      }
    }

    .movie-desc {

      @media #{$small-only}{
        font-size: 0.6rem;
      }

      @media #{$medium-only} {
        font-size: 0.7em;
      }

      @media #{$large-only} {
        font-size : 0.9em
      }

      @include transition(all, 0.2s, ease-in-out);
      webkit-animation-delay: 0.2s; /* Chrome, Safari, Opera */
      animation-delay: 0.2s;
      color: #fff;
      opacity: 0;
      padding: 20px 10px 0px 10px;
      font-size: 1.0rem;
      font-weight: lighter;
      text-align: center;
      line-height: 14px;
      bottom : 0;
      left : 0;
    }

    &:hover {
      background-color: rgba( 0,0,0, .6 )!important;
      cursor: pointer;
      .movie-name{

        @media #{$small-only} {
          display: none;
        }

        @media #{$medium-only} {
          top: 5%
        }

        top: 30%;
        color: #fff;

      }
      .movie-desc{

        @media #{$large-up} {
          top: 60%
        }

        color: #fff;
        opacity: 1;
        padding-top: 0;

      }
    }

    h3 {
      color : $text-color;
    }

    h3,p {
      position: absolute;
      width: 100%;
    }

    img {
      width: 100%;
    }

  }
}

.grid-loader{
  display: block;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  img {
    position: relative;
    margin: 0 auto;
    text-align: center;
    max-height: 100px;
    top : 45%;
  }
}

/* DETAIL */

.movie-detail {

  color : white;
  font-family : "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow: auto;

  h2, h3 {
    color :white;
    font-family : "Lucida Grande", Helvetica, Arial, sans-serif;
  }

  .close-detail {
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 2rem;
    color:white;
    min-height:100%;
    overflow-y:scroll;
    overflow-x:hidden;
    z-index: 2;
    &:hover {
      cursor: pointer;
    }
  }

  #movie-title {
    margin-top: 30px;
    @media #{$small-only} {
      text-align: center;
    }
  }

  #movie-poster {
    display : block;
    margin : 0 auto;

  }

  #movie-info{
    margin-top: 30px;
    padding-bottom: 50px;
  }

  #movie-overview {
    margin-top : 30px;
    @media #{$small-only} {
      font-size: 14px;
    }
  }

  .rate-star {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 25px;

    @media #{$medium-only} {
      max-width: 25px;
    }

    @media #{$small-only} {
      max-width: 25px;
      margin-bottom: 20px;
    }
  }

  .movie-detail-title {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .movie-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 2;
    overflow: auto;
    background-size : cover;
    background-position : 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .cast-box {

    @media #{$xlarge-only} {
      height: 260px;
    }

    @media #{$large-only} {
      height: 180px;
    }

    @media #{$medium-only} {
      height: 180px;
    }

    @media #{$small-only} {
      height: 280px;
    }

    text-align: center;

    margin-bottom : 10px;
    p {
      font-size: 10px;
      text-align: center;
      position: absolute;
      bottom : -1px;
      margin : 0;
      padding: 10px 0 10px 0;
      line-height: 15px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8);
    }

    img {
      margin: 0 auto;
    }
  }

  .image-box {
    margin-bottom:  10px;
  }

  @media #{$large-up} {

    div, span, label, p {
      font-size: 1.0rem;
      line-height: 1.4rem;
    }
  }

  @media #{$small-only} {
    font-size: 14px;
  }

}
