<div class="row full-width">
    <div class="large-11 large-offset-1 medium-12 small-12 columns">
        <h2 id="movie-title"><%- title %></h2>
    </div>
    <div class="large-12 medium-12 small-12 columns">
        <div class="row full-width">
            <div class="large-3 large-offset-1 columns">
                <img src="<%- big_poster_path %>" alt=""/>
            </div>
            <div class="large-6 end columns">
                <p><%- overview %></p>
            </div>
        </div>
    </div>
</div>
